* {
    padding: 0px;
    margin: 0px;
    border: 0; 
}
body {
    
}

.header {
    text-align: center;
    background-color: green;
    color: white;
    padding: 10px;
    
}
.content {
    color: white;
    background-color: blue;
    width: 550px;
    margin: auto; 
}

.content-lorem {
    margin-right: 15px;
}
.content h1 {
    padding-top: 20px;
    margin-bottom: 20px;
    
}
.content  {
    
}